   header {
      background: url('http://www.smarshtestbed.com/img/BVI_sailboat.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: white;
      text-align: center;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 50px;
      color: white;
    }
    img {
      margin: 10px 0px 0px 0px;
      border: 3px solid white;
      border-radius: 100%
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      text-align: center;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }