   header {
      color: white;
      text-align: center;
    }
    a {
      color: white;
    }
    .profile-pic {
      margin: 10px 0px 0px 0px;
      border: 3px solid white;
      border-radius: 100%
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      text-align: center;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    @media (max-width: 500px) {
      li {
        padding: 5px;
        display: block;
      }
    }
